.countdown-container {
  min-height: 100vh;
  background: url(../../assets/img/bg5.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  overflow: hidden;
  .countdown-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    margin: auto;
    width: 60%;
    margin: 3rem auto;
    overflow: hidden;

    border-radius: 20px;
    opacity: 0.9;
  }
  .list-wrap {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    li {
      padding: 1rem 3rem;
    }
  }

  .image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 2rem 0;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .name {
    font-size: 50px;
    font-weight: 900;
  }
  .count {
    font-size: 70px;
    font-weight: 900;
  }
  .date__desc {
    font-size: 20px;
    font-weight: 600;
  }
  .event__date{
    color: #f9641d;
    font-size: 20px;
  }
  .date {
    font-size: 18px;
    color: #6f6f6f;
    font-weight: 800;
    padding: 0 1.2rem;
  }
  .bottom__text {
    color: #76839a;
    font-weight: 600;
  }
  .palm__down {
    font-size: 35px;
  }
  .date__label {
    font-size: 13px;
    font-weight: 400;
  }
  .here {
    color: #7888fc;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

  }
}

@media (max-width: 1200px) {
  .countdown-container {
    .countdown-details {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .countdown-container {
    height: auto;
    justify-content: center;
    .countdown-details {
      margin: 2rem 0;
    }
    .list-wrap {
      flex-direction: column;
    }
  }
}
